header {
    height: 150px;
    background-color: grey;
}
header h1{
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px ;
}
article{
    
    height: 700px;
    background-color: pink;
}
aside{
    background-color: aquamarine
    
}
.menu{
    
    background-color: skyblue;
}

footer p{
    margin: 0;
    line-height: 50px;
    text-align: center;
    background-color: deepskyblue;
}

.box{
    width: 200px;
    height: 200px;
}
.timerBox{
    width: 200px;
    outline: 2px solid black;
}
.timerBox .time{
    font-size: 30pt;
    color: #4C4C4C;
    text-align: center;
    font-family: sans-serif;
}
.btnBox{
    margin: 20px auto;
    text-align: center;
}
.btnBox .fa{
    margin: 0px 5px;
    font-size: 30pt;
    color: #FAED7D;
    cursor: pointer;
}